    
{% extends "base.html" %}
{% block content %}
<center>
<div class="containner col-lg-4 col-sm-8 col-md-4 ">
	<div class="card">
		<div class="card-header bg-primary text-left text-bark">
		<h3>REGISTER<a href="{% url "login:login" %}" class="text-dark"> |  LOG IN</a></h3>
		</div>
		<div class="card-body">
			<form action="/login/addUser/" method="POST">
				{% csrf_token %}
				<div class="form-group text-left">
				User Name
				<input type="text" name="user" class="form-control" required />
				</div>
				<div class="form-group text-left">
				Password
				<input type="password" name="password" class="form-control" required/>
				</div>
				<div class="form-group text-left">
				Email
				<input type="Email" name="Email" class="form-control" required/>
				</div>
				<div class="form-group text-left">
				BirthDay Date
				<input type="Date" name="BDate" class="form-control" required/>
				</div>
				<div class="form-group text-left">
				Gender
				<input type="radio" value="MALE" class="" name="gender"  />  Male   
				<input type="radio" value="FEMALE" class="" name="gender" />  FeMale
				</div>
				<div class="form-group">
				<Button class="btn btn-primary btn-block">Submit</Button>
				</div>
				
				
			</form>
		</div>
	<div>
</div>

{% endblock %}