    
{% extends "quizbase.html" %}
{% block content %}
<center>
<div class="containner col-lg-4 col-sm-8 col-md-4 ">
	<div class="card">
		<div class="card-header bg-primary text-left text-bark">
		<h3>Update</h3>
		</div>
		<div class="card-body">
			{%for t in tech %}
			<form action="{% url 'technology:updateinfo' %}" method="POST">
				{% csrf_token %}
				<div class="form-group text-left">
				Tech Name
				<input type="text" name="tech_name" class="form-control" required value="{{t.Tech_Name}}" />
				</div>
				<input type="hidden" name="tid" value="{{t.id}}">
				<div class="form-group">
				<Button class="btn btn-primary btn-block">Submit</Button>
				</div>
			{%endfor%}
				
			</form>
		</div>
	<div>
</div>

{% endblock %}