{% extends "quizbase.html" %}
{% block content %}
<div class="alert alert-success" role="alert">
 all users
</div>
<div class="container text-left">
	<h1>ALL user</h1>
	<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
      <th scope="col">gender</th>
      <th scope="col">type</th>
      <th scope="col">Birthday</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  	{%for u in users %}
		<tr>
	      <th scope="row">{{u.id}}</th>
	      <td>{{u.User_Name}}</td>
	      <td>{{u.User_Email}}</td>
	      <td>{{u.User_Password}}</td>
	      <td>{{u.User_Gender}}</td>
        <td>{{u.User_Role}}</td>
	      <td>{{u.User_Birth_Date}}</td>
	      <td><a href="{% url 'user:update'%}?userid={{u.id}}" class="btn btn-success">Update</a></td>
	      <td><a href="{% url 'user:delete'%}?userid={{u.id}}" class="btn btn-danger">Delete</a></td>
	    </tr>
	{%endfor%}
  </tbody>
</table>
<a href="{% url 'user:add' %}" class="btn btn-success">New User</a>

</div>
{% endblock %}