{% extends "quizplay.html" %}
{% block content %}
<div class="alert alert-success" role="alert">
 all played Quiz and thier Scrore
</div>
<div class="container text-left">
	<h1>ALL record</h1>
	<table class="table">
  <thead>
    <tr>
      
      <th scope="col">Score</th>
      <th scope="col">Date</th>
      <th scope="col">Quiz Name</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  	{%for u in score %}
		<tr>
       
	      <td>{{u.Score}}</td>
	      <td>{{u.Play_date}}</td>
        <td>{{u.Quiz_id.Quiz_Name}}-{{u.Quiz_id.id}}</td>
         <td><a href="{% url 'play:delete'%}?msid={{u.id}}" class="btn btn-danger">Delete</a></td>
      </tr>
      {%endfor%}
  </tbody>
</table>

</div>
{% endblock %}